<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIAMOND PRICE PREDICTION</title>

    <style>
        body {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQruHj9T6kjbqbT3gyYCv95D1uYMYv1PoaHg&usqp=CAU);
        background-repeat:no-repeat;
        background-size:cover;
        }
    </style>
</head>
<body style="font-size: x-large;">
<center>
    <h1>DIAMOND PRICE PREDICTION</h1>
</center>
    <form action="/get_data" method="post">
        <center>
        <label>Weight of Diamond (0.2 - 5.01):</label> <input type='number' step="0.01"  name = 'html_carat' > <br><br>
        
        <label>Diamond Color(J-worst to D-best):</label> 
        <select name="html_color">
            
            <option value="J">J</option>
            <option value="I">I</option>
            <option value="H">H</option>
            <option value="G">G</option>
            <option value="F">F</option>
            <option value="E">E</option>
            <option value="D">D</option>
            
            
        </select> <br><br>
        
        <label>Quality of Cut:</label> 
        <select name="html_cut">
            <option value="Ideal">Ideal</option>
            <option value="Premium">Premium</option>
            <option value="Very Good">Very Good</option>
            <option value="Good">Good</option>
            <option value="Fair">Fair</option>
           
            
        </select> <br><br>
        <label>Clarity: </label>
        <select 
        name="html_clarity">
            <option value="SI1">SI1</option>
            <option value="VS2">VS2</option>
            <option value="SI2">SI2</option>
            <option value="VS1">VS1</option>
            <option value="VVS2">VVS2</option>
            <option value="VVS1">VVS1</option>
            <option value="IF">IF</option>
            <option value="I1">I1</option>
            
        </select> <br><br>
        
        
        <label>Length in mm(0 - 10.74):</label> <input type = 'number' step = '0.001' name = "html_x"> <br><br>
        <label>Width in mm(0-58.9):</label> <input type = "number" step = '0.001' name = 'html_y'> <br><br>
        <label>Depth in mm(0-31.8):</label> <input type = "number" step = '0.001' name = "html_z"> <br>
            
        </select> <br>

        <input type="submit" value="DIAMOND PRICE PREDICTION">
    </form><br><br>


    <label>PREDICTED PRICE OF DIAMOND: </label>{{prediction}} <label>USD</label>
    </center>
</body>
</html>
    